:root{
    --primary-color: #061d3d;
    --secondary-color: #183153;
    --light-color: #fff;
    --dark-color: #333;
    --other-color: #10054b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.1rem;
    line-height: 1.1;
    color: var(--light-color);
}

a {
    text-decoration: none;
    color: var(--light-color);
}

li{
    list-style: none;
}

h4{
    color: var(--primary-color);
}

/* utility classes */
.container{
    max-width: 1100px;
}

.l-heading{
    font-size: 3rem;
}

.m-heading{
    font-size: 2rem;
}

/* Dark Line */
.line > div{
    position: relative;
    top: 0;
    left: 0;
    flex: none;
    background: var(--primary-color);
    width: 90px;
    height: 2px;
    margin: auto;
}

.line > div:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 1rem;
    background: var(--primary-color);
    width: 50px;
    height: inherit;
    margin: auto;
}

/* light Line */
.line1 > div{
    position: relative;
    top: 0;
    left: 0;
    flex: none;
    background: var(--light-color);
    width: 90px;
    height: 2px;
    margin: auto;
}

.line1 > div:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 1rem;
    background: var(--light-color);
    width: 50px;
    height: inherit;
    margin: auto;
}


.sec-header{
    text-align: center;
    padding: 4rem 0 1rem 0;
    margin-top: 1rem;
}


.dark-color{
    color: var(--primary-color);
}

.light-color{
    color: var(--light-color)
}


.btn{
    display: inline-block;
    background: var(--primary-color);
    color: var(--light-color);
    margin: 2rem auto;
    padding: 1rem ;
    border: none;
    border-radius: 10px;
}

.btn:hover{
    background: var(--light-color) ;
    color: var(--other-color);
}

.mx-1 { margin: 0 2rem;}
.mx-2 { margin: 0 3rem;}

.py-1 { padding: 1rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}

/* Showcase */
#header{
    background-image: linear-gradient(to right bottom, rgba(6, 29, 61, 0.80), rgba(16, 5, 75, 0.80)), url(../img/computer.jpg);
    background-size: cover;
    height: 100vh;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    overflow: hidden;
}

.logo{
    color: var(--light-color);
}

.logo h1{
    font-size: 2rem;
    font-family: 'UnifrakturMaguntia', cursive;
}

.nav-items ul{
    display: flex;
}

.nav-items ul li{
    margin-left: 1.5rem;
}

.nav-items ul li a:hover {
    padding: 1rem;
    background: var(--primary-color);
    border-radius: 10px;
}

.header-content {
    display: block;
    text-align: center;
    margin-top: 12rem;
}

.header-content h2{
    color: var(--light-color);
    line-height: 1.4;
}

.header-content a {
    margin: auto;
}

/* About Section */
#about p{
    color: var(--dark-color);
    text-align: center;
    padding-top: 4rem;
}

.cv{
    display: flex;
    margin: 3rem 1rem;
}

.cv .info-left{
    position: relative;
    top: 10px;
    left: 20px;
    margin-right: 4rem;
    
}

.cv .info-left .box{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 370px;
    height: 500px;
    border: #10054b 7px solid;
    border-radius: 10px;
    z-index: -1;
}

.cv .cv-img img {
    width: 370px;
    height: 500px;
    border-radius: 10px;   
}

.info-right{
    width: 900px;
}

.info-right .info p {
    text-align: left;
    line-height: 1.5;
    margin: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: #A0A0A0 dotted 2px;
}

.short-info .info-2 {
    text-align: left;
    padding-top: 10px;
}
.short-info p{
    text-align: left;
}

#about .cta a {
    margin-left: 4rem;
}

/* Skills Section */
#skill{
    background-image: linear-gradient(to left, rgba(24, 49, 83, 0.801), rgba(6, 29, 61, 0.801) ),url('../img/skills.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 30rem;
}

#skill p{
    color: var(--light-color);
    text-align: center;
    padding-top: 3rem;
    line-height: 1.5;
}

#skill .skill-box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#skill .boxes{
    display: block;
    margin: auto;
    background: #dcdcdc;
    width: 23rem;
    height: 12rem;
    margin-top: 1.5rem;
    border-radius: 20px;
}

#skill .boxes img{
    margin: auto;
    margin-top: 1.5rem;
}

#skill .boxes h4{
    padding: 0.8rem 0;
    color: var(--primary-color);
    font-size: 1rem;
}

#skill .boxes .add{
    padding-top: 1.8rem;
}

#skill .progress-bar{
    width: 80%;
    height: 0.7rem;
    margin: auto;
    background: #A9A9A9;
    border-radius: 10px;
}

#skill .progress-bar .bar1{
    width: 80%;
    height: 0.7rem;
    border-radius: 10px;
    background: #5aa6db;
}
#skill .progress-bar .bar2{
    width: 30%;
    height: 0.7rem;
    border-radius: 8px;
    background: var(--primary-color);
}
#skill .progress-bar .bar3{
    width: 50%;
    height: 0.7rem;
    border-radius: 8px;
    background: #ffac1b;
}

/* Services Style */
#services {
    height: 35rem;
}

#services p{
    color: #061d3d;
    text-align: center;
}

/* Service Box */
#services .skill-box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#services .boxes{
    display: block;
    margin: auto;
    background: #dcdcdc;
    width: 23rem;
    height: 14rem;
    margin-top: 1.5rem;
}

#services .boxes img{
    margin: auto;
    margin-top: 1.5rem;
}

#services .boxes p{
    padding: 0.7rem 0;
    color: var(--primary-color);
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.7;
}

#services .boxes .add{
    padding-top: 1rem;
}

/* Accolades Section */
#accolade{
    background:rgba(24, 49, 83, 0.801);
    height: 20rem;
}

#accolade .acc-list{
    display: flex;
}

#accolade .accords{
    margin: auto;
    display: flex;
    width: 5rem;
    background: rgba(24, 49, 83, 0.801);
}

#accolade .accords h3{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}
#accolade .accords p{
    font-size: 20px;
    color: #fff;
}

